table{
    text-align: center;
    thead{
        tr{
            padding: 0rem 0.5rem;
            th, td{
                border-radius: 15px;
                padding: 0.5rem 1rem;
            }
        }
    }
}